body {
	font-family: 'Arial', sans-serif;
	background-color: #e0e5f0;
	margin: 0;
	padding: 0;
}
.header {
	background-color: #3a6ea5;
	color: white;
	padding: 20px;
	text-aling: center;
	font-size; 24px;
}
.container {
	display: flex;
}
.sidebar {
	background-color: #cfe2f3;
	padding: 20px;
	width: 250px;
}
.content {
	padding: 20px;
	background-color: white;
	flex-grow: 1;
}
.icon {
	width: 20px;
	height: 20px;
	vertical-aling: middle;
	margin-right: 10px;
}
.sidebar ul {
	list-style-type: none;
	padding-left: 0;
}
